{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Liste des médias</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom des media</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td><img src="{{ vich_uploader_asset(medium,'imageFile') }}" style="width:100%; height: auto" class="card-img-top" alt=""></td>
                <td>{{ medium.nomMedia }}</td>
                <td>{{ medium.statut ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('media_show', {'id': medium.id}) }}"><button class="btn btn-primary"> Voir</button></a>
                    <a href="{{ path('media_edit', {'id': medium.id}) }}"><button class="btn btn-warning"> Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun média</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  href="{{ path('media_new') }}"><button class="btn btn-info mb-2"> Ajouter un média</button></a>
{% endblock %}
