{% extends 'base.html.twig' %}

{% block title %}Chauffage{% endblock %}

{% block body %}
    <h1>Chauffage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chauffage.id }}</td>
            </tr>
            <tr>
                <th>NomChauffage</th>
                <td>{{ chauffage.nomChauffage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chauffage_index') }}">back to list</a>

    <a href="{{ path('chauffage_edit', {'id': chauffage.id}) }}">edit</a>

    {{ include('chauffage/_delete_form.html.twig') }}
{% endblock %}
